@charset "UTF-8";

.first-view {
  height: calc(100vh - 50px);
  background-image: url(../images/index/bg-main-sp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.first-view-text {
  padding: 60px 40px 15px 15px;
  color: #fff;
  text-shadow: 1px 1px 10px #4b2c14;
  font-weight: bold;
}

.lead {
  max-width: 1200px;
  margin: 40px 15px;
}
.lead p {
  line-height: 2rem;
}

.button-concept {
  text-align: center;
  margin-bottom: 40px;
}
.link-button {
  display: inline-block;
  background-color: #f4dd64;
  min-width: 180px;
  line-height: 48px;
  border-radius: 24px;
  font-weight: bold;
  transition: background-color 0.3s, opacity 0.3s;
}
.link-button:active {
  background-color: #d8b500;
  opacity: 0.85;
}

.recommened {
  background-color: #f8f8f8;
  padding: 20px 20px;
}
.sec-title {
  text-align: center;
}
.item-list {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.item-list li {
  width: 260px;
  flex-shrink: 0;
}
.item-list::-webkit-scrollbar {
  display: none;
}
.item-list img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block; 
}
.item-list dl {
  padding-top: 20px;
}
.item-list dl dt ,
.item-list p {
  font-weight: bold;
}
.item-list dl dt,
.item-list dl dd {
  padding-bottom: 10px;
}

.button-menu {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 25px;
}

/*--------------------------*/
/*    @media pc 1024px
/*-------------------------*/

@media (min-width: 1024px) {

  
  .first-view {
    position: relative;
    height: calc(100vh - 100px);
    background-image: url(../images/index/bg-main.jpg); 
  }

  .first-view-text h1{
    position: absolute;
    top: 300px;
    left: 350px;
    font-size: 2.5rem;
  }
  .first-view-text p {
    position: absolute;
    top: 440px;
    left: 350px;
    font-size: 1rem;
  }

  .lead {
     margin: auto;
     padding: 40px 400px;
  }
  .lead p {
    white-space: normal;
    text-align: center;
  }

  .item-list {
    display: flex;
    justify-content: space-between;
  }
}