@charset "UTF-8";


/*--------------------------
   sp 
-------------------------*/

.title {
  height: 310px;
  background-image: url(../images/menu/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 10px #4b2c14;
}
.title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.title p {
  font-size: 0.875rem;
  margin-top: 7px;
}
.item-list {
  width: 90%;
  margin: 45px auto 0;
  display: grid;
  row-gap: 40px;
}
.item-list dl {
  padding-top: 20px;
}
.item-list dl dt ,
.item-list p {
  font-weight: bold;
}
.item-list dl dt,
.item-list dl dd {
  padding-bottom: 10px;
}
.item-list li {
  position: relative;
}
.item-list li img {
  width: 90%;
}
.item-list .item-label {
  position: absolute;
  top: 0;
  left: calc(90% + 18px);
  font-size: 0.625rem;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(90deg);
}

.footer {
  margin-top: 40px;
}

/*--------------------------
   @media pc 1024px
-------------------------*/

@media (min-width: 1024px) {

  .item-list {
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    grid-template-columns: repeat(auto-fit, 240px);
    column-gap: 95px;
    row-gap: 70px;
    justify-content: center;
  }

  .footer {
    margin-top: 100px;
  }
}
